################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/OdeToFood/OdeToFood/bin
/OdeToFood/.vs
/OdeToFood/OdeToFood/obj/Debug
/OdeToFood/OdeToFood.Tests/bin
/OdeToFood/OdeToFood.Tests/obj/Debug
/OdeToFood/packages
